@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');
*{
    font-family: "Poppins", sans-serif;
}
.brand-link{
    width: 100%;
    padding: 16px 8px 60px 8px;
    color: #ffffff;
    margin-top: 10px;
    
}
p, h2 {
    margin: 0px;
    padding: 0px;
  }
.brand1-text {
    font-family: "Righteous", sans-serif;
    font-size: 25px;
}
.brand2-text {
    font-family: "Righteous", sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 100;
   text-align: justify;
}

.brand-link .brand-image{
  margin-top: 15px;
  width: 40px;
  height: 90%;
}


.main-sidebar{
    background-color: #02a499;
}
.main-sidebar .nav-link {
    padding: 20px 8px 15px 8px;
    color: #ffffff; 
}
.main-sidebar .nav-link:hover{
    background-color: #5edfd683;
}
.content-header{
    padding: 16px 8px 45px 8px;
    font-weight: 700;
    font-style: normal;
}
.HeadTitle{
    color: #02a499;
}
.content{
    font-size: 13px;
}